
<div class="containter">
<h1>Post an Audition Notice</h1>

<div class="container-fluid">

	<div class="input-group"> <!-- play title -->
	  <input type="text" class="form-control" name="play" placeholder="play" required>
	</div>

	<div class="input-group"> <!-- company -->
	  <input type="text" class="form-control" name="company" placeholder="theatre company" required>
	</div>

	<div class="input-group"> <!-- company website -->
	  <input type="text" class="form-control" name="company" placeholder="website">
	</div>

	<span>contact information</span>

	<div class="input-group"> <!-- contact name -->
	  <input type="text" class="form-control" name="name" placeholder="name" required>
	</div>

	<div class="input-group"> <!-- contact email -->
	  <input type="email" class="form-control" name="email" placeholder="email" required>
	</div>

	<!-- Audition Location -->
	<span>location</span>

	<div class="input-group"> <!-- location name -->
	  <input type="text" class="form-control" name="location_name" placeholder="locale" required>
	</div>

	<div class="input-group"> <!-- address -->
	  <input type="text" class="form-control" name="street_adress" placeholder="100 Congress Ave" required>
	</div>

	<div class="input-group"> <!-- zip_code -->
	  <input type="number" class="form-control" name="zip_code" min="78700" max="78760" placeholder="78701" required>
	</div>

	<span>dates:</span>
	<div class="container"> 
		<div class="col-sm-6" style="height:75px"> <!-- first calendar form -->
			<div class="col-md-5">
				<div class="form-group">
					<div class="input-group date" id="datetimepicker1">
						<input type="text" class="form-control" required/>
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-5"> <!-- second calender form -->
				<div class="form-group">
					<div class="input-group date" id="datetimepicker2">
						<input type="text" class="form-control"/>
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="form-group">
	    <div class="radio">
	        <label>
	            <input type="radio" name="paid" value="true" ng-model="" required>
	            Paid
	        </label>
	    </div>    
	
	    <div class="radio">
	        <label>
	            <input type="radio" name="paid" value="false" ng-model="" required>
	            Unpaid
	        </label>
	    </div>
    </div>

    <div class="form-group">
    	<div class="radio">
    		<label>
    			<input type="radio" name="equity" value="true" ng-model="">
    			Equity
    		</label>
    	</div>
		
		<div class="radio">
    		<label>
    			<input type="radio" name="equity" value="true" ng-model="">
    			Non-Equity
    		</label>
    	</div>
    </div>



	<div class="input-group"> <!-- extra info -->
		<textarea class="form-control" rows="6" name="info" placeholder="audition information"></textarea required>
	</div>

	<div class="input-group">
		<input type="submit" value="Post Listing">
	</div>
</div>
</div>
<script type="text/javascript" src="../scripts/timepicker.js"></script>