<div class="container">

<div class="containter text-center">
	<h2>Post an Audition Notice</h2>
	<h4>Your listing will be reviewed and posted to our website within the next 72 hours.</h4>
</div>


<div class="container">
	<form class="form-horizontal" role="form" ng-controll="PostListingCtrl">

		<div class="form-group">
			<label for="inputplayPL" class="col-sm-2 control-label">Play</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="inputplayPL" placeholder="Hamlet" required>
			</div>
		</div>
		
		<div class="form-group">
			<label for="inputcompanyPL" class="col-sm-2 control-label">Company</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="inputcopmanyPL" placeholder="The King's Men" required>
			</div>
		</div>

		<div class="form-group">
			<label for="inputurlPL" class="col-sm-2 control-label">Website</label>
			<div class="col-sm-8">
				<input type="url" class="form-control" id="inputurlPL" placeholder="www.auditionhogg.com">
			</div>
		</div>

		<div class="form-group">
			<label for="contactPL" class="col-sm-2 control-label">Contact</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="contactnamePL" placeholder="Uncle Claudius" required>
			</div>
			<div class="col-sm-4">
				<input type="email" class="form-control" id="contactemailPL" placeholder="snake@denmark.com" required>
			</div>
		</div>

		<div class="form-group">
			<label for="locationPL" class="col-sm-2 control-label">Location</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="locationNamePL" placeholder="The Globe" required>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-4">
				<input type="email" class="form-control" id="locationAdressPL" placeholder="100 Congress Ave" required>
			</div>
			<div class="col-sm-4">
				<input type="number" class="form-control" min="78700" max="78760" id="locationZipPL" placeholder="78701" required>
			</div>
		</div>

		<div class="form-group">
			<label for="inputDatePL" class="col-sm-2 control-label">Date</label>
				<!-- date pickers here -->
				<div class="col-sm-4 col-md-4 col-lg-4">
					<div class="input-group date col-md-12">
						<input type="text" class="form-control" ng-model="selectedDateAsNumber" data-date-format="yyyy-MM-dd" data-date-type="number" data-min-date="today" data-autoclose="1" name="date2" id="datepicker1PL" bs-datepicker placeholder="start">
					</div>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4">
					<div class="input-group date col-md-12">
						<input type="text" class="form-control" ng-model="selectedDateAsNumber" data-date-format="yyyy-MM-dd" data-date-type="number" data-min-date="today" data-autoclose="1" name="date2" id="datepicker2PL" bs-datepicker placeholder="end">
					</div>
				</div>
		</div>

		<div class="form-group">
			<label for="inputCompPL" class="col-sm-2 control-label">Compensation</label>
			<div class="col-md-4">
  				<select class="col-sm-3 form-control">
  					<option>Paid</option>
  					<option>Unpaid</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="inputEquityPL" class="col-sm-2 control-label">Equity</label>
			<div class="col-md-4">
  				<select class="col-sm-3 form-control">
  					<option>Equity</option>
  					<option>Non-Equity</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="inputInfoPL" class="col-sm-2 control-label">Audition Information</label>
			<div class="col-sm-8">
				<textarea class="form-control" rows="5"></textarea>
			</div>
		</div>


		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Post Listing</button>
			</div>
		</div>

	</form>
</div>

</div>