<div class="container">

	<div class="container">
		<div class="col-md-6 col-md-offset-3 text-center">

			<h2>Search Listings</h2>

			<form class="navbar-form navbar-center" role="search">
  				<div class="form-group">
    				<input type="text" class="form-control" placeholder="Search">
  				</div>
  				<button type="submit" class="btn btn-default">Submit</button>
			</form>

		</div>
	</div>

	<div class="testing" ng-controller="searchListing">
		<div class="container" ng-repeat="posting in postings">
			<div class="row">
				<h3>{{posting.play}}</h3>
				<p><a href="#">{{posting.company}}</a></p>
			</div>
			<div class="row">
				<div class="col-md-4">
					<h4>Location</h4>
					<p>The Off Center</p>
					<p>{{posting.location.streetAddress}}</p>
					<p>{{posting.location.zip}}</p>
					<span><a href="#">direct to google maps here, @media query for small device app</a></span>
				</div>
				<div class="col-md-4">
					<h4>Dates</h4>
					<p>Monday, Sept 14th, 2014</p>
					<p>through</p>
					<p>Tuesday, Sept 24th, 2014</p>
					<span><a href="#">direct to iCal/google, @media query for small device app</a></span>
				</div>
				<div class="col-md-4">
					<h4>Contact</h4>
					<p>{{posting.contact.name}}</p>
					<p><a href="#">{{posting.contact.email}}</a></p>
				</div>
			</div>
			<div class="row">
				<h4>audition information</h4>
				<p>{{posting.information}}</p>
			</div>
		</div>

	</div>


	<div class="container listing">
		<div class="container col-md-10 col-md-offset-1">
			<div class="row text-center">
				<h3>Richard III</h3>
				<p><a href="#">Chess Theatre Co</a></p>
			</div>
			<div class="row text-center">
				<div class="col-md-4">
					<h4>Location</h4>
					<p>The Off Center</p>
					<p>1400 Airport Blvd</p>
					<p>78765</p>
					<span><a href="#">direct to google maps here, @media query for small device app</a></span>
				</div>
				<div class="col-md-4">
					<h4>Contact</h4>
					<p>Allison Zadrozny</p>
					<p><a href="#">alli@chesstheatre.org</a></p>
				</div>
				<div class="col-md-4">
					<h4>Dates</h4>
					<p>Monday, Sept 14th, 2014</p>
					<p>-</p>
					<p>Tuesday, Sept 24th, 2014</p>
					<span><a href="#">direct to iCal/google, @media query for small device app</a></span>
				</div>
			</div>
			<div class="row">
				<h4 class="text-center">audition information</h4>
				<p>Thou judgest false already: I remember, when thou to grow wiser every day a devil come to me, That am poor, but Mantua's law Is death eats up my father hated his gown, and we'll beat love a French salutation to your ladyship; well, and precious-juiced flowers. </p>
				<p>The earth some marks of a wagoner As Phaethon would your promises in that ornament to be slave to my friend; And you know not wear the hearts more shall be good, There's yet upon thine only in the pantry, and this afternoon; And there queen So mightily persuaded him from a charnel-house, O'er-cover'd quite overthrown! O love! the matter:--Nurse, give him marry me for your good night!</p>
			</div>
		</div>
	</div>
</div>