<div class="container-fluid">
	<form role="form" name="subscribe" ng-controller="formCtrl">
	<div class="input-group">
	  <input type="text" class="form-control" name="firstname" placeholder="first name" required>
	</div>

	<div class="input-group">
	  <input type="text" class="form-control" name="lastname" placeholder="last name" required>
	</div>

	<div class="input-group">
	  <input type="email" ng-model="text" ng-minlength="6" class="form-control" name="email" placeholder="email" required>
	</div>

	<div class="input-group">
		<input class="btn" type="submit" value="Sign Up"/>
	</div>
	</form>
</div>