<div class="container-fluid">
	<div class="input-group">
	  <input type="text" class="form-control" name="firstname" placeholder="first name">
	</div>
	<div class="input-group">
	  <input type="text" class="form-control" name="lastname" placeholder="last name">
	</div>
	<div class="input-group">
	  <input type="text" class="form-control" name="email" placeholder="email">
	</div>
	<div class="input-group">
	  <input type="text" class="form-control" name="confirm_email" placeholder="confirm email">
	</div>
	<div class="input-group">
		<input type="submit" value="Sign Up">
	</div>
</div>